.prerequisite-container {
    padding: 20px;
  }
  
  .prerequisite-container h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  .submit-button {
    background-color: #007BFF; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Darker blue for hover */
  }